.btn {
  position: relative;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  min-width: 120px;
}

.btn span {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

.btn-2::before {
  transition: 0.3s ease-out;
}
.btn-2 span {
  /* color: white; */
  /* border: 1px solid white; */
  transition: 0.2s;
}
.btn-2 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}
.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
.btn.hover-slide-right:hover::before {
  width: 100%;
}
